$bgTheme: #282828;

.App {
  // background-color: #e4dada;
  width: calc(100% - 230px);
  margin-top: 80px;
  margin-left: 230px;
  color: #fff;
  // height: 100%;
}

.logo {
  height: auto;
  justify-content: center;
  margin-bottom: 9px;
}

.container {
  margin: 0;
}
