$trackHeaderThemme: #665f5f;
$audioPlayerTheme: #141313;
$audioIndicatorTheme: #424040;

.track-header {
  background-image: linear-gradient(#777373, #2c2b2b);
  justify-content: space-between;
  align-items: center;
  height: 170px;
  .track-author {
    width: 47%;
    transition: content 1s;
    .track-title {
      font-size: 35px;
      font-weight: bold;
      letter-spacing: 3px;
      text-transform: uppercase;
    }
    .track-metadata {
      width: auto;
      text-transform: capitalize;
    }
  }
  .track-audio-player {
    width: 350px;
    height: 80px;
    cursor: pointer;
    .audio {
      background-color: $audioPlayerTheme;
      width: 100%;
      height: 100%;
      border-radius: 4px;
      flex-direction: column;
      justify-content: space-between;
      .play-indicator {
        flex-direction: column;
        height: 35%;
        .progressBar {
          height: 15px;
          width: 100%;
          border: solid 0.1rem #181717;
          background-color: $audioIndicatorTheme;
          transition: height 1s;
          padding: 0;
          border-radius: 6px;
          .status {
            height: 10px;
            margin: 0;
            background-color: #d1ff7b;
            transition: width 1s;
          }
        }

        .timeElapsed {
          font-size: 11px;
          align-self: flex-end;
          margin-right: 10px;
        }
      }
      .play-controls {
        height: 65%;
        justify-content: center;
        align-items: center;
        .button {
          box-sizing: border-box;
          background-color: transparent;
          outline: none;
          height: 30px;
          cursor: pointer;
          transition: border-width 100ms all ease;
          border-color: transparent transparent transparent #575454;

          // play state
          &.play {
            border-style: solid;
            border-width: 15px 0px 15px 25px;
          }
          // pause state
          &.pause {
            border-style: double;
            border-width: 0px 15px 0px 15px;
          }
        }
      }
    }
  }
}
.track-details {
  color: #000;
  text-align: justify;
  justify-content: center;
  .description {
    height: auto;
    width: 30%;
    padding: 5px;
    font-size: 13px;
    letter-spacing: 2px;
    header {
      align-items: center;
      .title {
        font-weight: bold;
        font-size: 22px;
        text-transform: capitalize;
      }
    }
  }
  .translated-text {
    width: 60%;
    padding: 5px;
    header {
      justify-content: flex-end;
    }
    iframe {
      font-size: 14px;
      letter-spacing: 2px;
      border-style: none;
      width: 100%;
    }
  }
}
